@mixin flex-col-betw-cent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-row-end-cent {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

@mixin title-primary {
    font-size: calc(20px + 40 * (100vw / 1280));
    color: $white;
    text-shadow: 1px 3px 2px $black;
}

@mixin paragraph-secondary {
    font-size: calc(15px + 20 * (100vw / 1280));
    color: $white;
    text-shadow: 1px 3px 2px $black;
}
