@import "./reset";
@import "./settings";
@import "./mixins";
@import "./top-section";

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/barlow-v12-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../fonts/barlow-v12-latin-regular.eot?#iefix")
            format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/barlow-v12-latin-regular.woff2")
            format("woff2"),
        /* Super Modern Browsers */
            url("../fonts/barlow-v12-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/barlow-v12-latin-regular.ttf")
            format("truetype"),
        /* Safari, Android, iOS */
            url("../fonts/barlow-v12-latin-regular.svg#Barlow") format("svg"); /* Legacy iOS */
}

body {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
}

.wrapper {
    @include flex-col-betw-cent;
    overflow: hidden;
}
